[submodule "PostOnInstagram"]
	path = PostOnInstagram
	url = https://github.com/EinGuterWaran/PostOnInstagram
[submodule "Tweet2Image"]
	path = Tweet2Image
	url = https://github.com/EinGuterWaran/Tweet2Image
[submodule "FetchTweets"]
	path = FetchTweets
	url = https://github.com/EinGuterWaran/FetchTweets
