[submodule "PostOnInstagram"]
	path = PostOnInstagram
	url = https://github.com/EinGuterWaran/PostOnInstagram
[submodule "Tweet2Image"]
	path = Tweet2Image
	url = https://github.com/einGuterWaran/Tweet2Image
